@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639882932771') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconhome01:before {
  content: "\e607";
}

.icon-iconuser:before {
  content: "\e628";
}

.icon-icon-tuichu:before {
  content: "\e66b";
}

.icon-icon-article:before {
  content: "\e601";
}

